.boxMovies { /* O boxMovies foi uma classeName criada para poder dar estilo na div que guarda o retorno dos dados da API, imagem, nota, título. */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border: solid 3px #808080;
}

img {
    border-radius: 30px;
}